<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<nav class='navbar navbar-default'>
  <div class='container-fluid' id='nav'>
    <a class="col-3" routerLink='/'>Home</a>
    <a class="col-3" routerLink='/login'>Login</a>
    <a class="col-3" routerLink='/account'>Account</a>
    <a class="col-3" routerLink='/profile'>Profile</a>
  </div>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
</body>