<h1>Login</h1>
<a class="nav-link" routerLink='/account'>Account</a>
<div *ngIf='verify; then ifBlock else elseBlock'></div>
<ng-template #ifBlock>
  <p class='ifBlock'>{{feedback}}</p>
</ng-template>
<ng-template #elseBlock>
  <p class='elseBlock'>{{feedback}}</p>
</ng-template>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" name='email' class="form-control" id="exampleInputEmail1"  placeholder="Enter email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="text" name='password' class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" value="Login" (click)="loginFunc()">Submit</button>
  </form>